<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="equitment.dao.UserDao">
    <resultMap id="userMap" type="user">
        <id property="user_id" column="user_id"/>
        <result column="user_name" property="user_name"/>
        <result property="password" column="password"/>
        <result property="createDate" column="createDate"/>
        <result property="role_id" column="role_id"/>
        <result property="userStatus" column="userstatus"/>
        <association property="role" javaType="role" column="role_id" select="equitment.dao.RoleDao.findRoleByID" fetchType="lazy"/>
    </resultMap>

    <select id="login" resultMap="userMap" parameterType="user">
        select * from userinfo
        where user_name = #{user.user_name}
        and password = #{user.password}
        and userstatus = 1
    </select>

    <select id="findAll" resultMap="userMap" parameterType="user">
        select user_id,user_name,password,createDate,role_id,userstatus
        from userinfo
        <if test="user!=null">

            <where>
                <if test="user.user_id!=null">
                    and user_id = #{user.user_id}
                </if>
                <if test="user.user_name!=null and user.user_name != '' ">
                    and user_name like '%${user.user_name}%'
                </if>
                <if test="user.role_id!=null">
                    and role_id = #{user.role_id}
                </if>
                <if test="user.userStatus != null ">
                    and userstatus = #{user.userStatus}
                </if>
            </where>
        </if>
    </select>

    <select id="findUserByID" parameterType="Integer" resultMap="userMap">
        select user_id,user_name,password,createDate,role_id,userstatus
        from userinfo
        where user_id = #{id}
    </select>

    <select id="findUserByName" parameterType="String" resultMap="userMap">
        select user_id,user_name
        from userinfo
        where user_name = #{param1}
    </select>
    <update id="deleteUser" parameterType="Integer">
        update userinfo
        set userstatus = 0
        where user_id = #{id}
    </update>


    <insert id="addUser" parameterType="user">
        insert into userinfo(user_id,user_name,password,createDate,role_id,userStatus)
        values(user_seq.nextval,#{user.user_name},#{user.password},#{user.createDate},#{user.role_id},#{user.userStatus})
    </insert>

    <update id="updateUser" parameterType="user">
        update userinfo
        <set>
            <if test="user.user_name!=null and user.user_name!= '' ">
                user_name = #{user.user_name},
            </if>
            <if test="user.password!=null and user.password!='' ">
                password = #{user.password},
            </if>
            <if test="user.role_id != null ">
                role_id = #{user.role_id},
            </if>
        </set>
        where user_id = #{user.user_id}
    </update>

</mapper>